.logo
{
    width: 35% !important;
}

.logo p
{
    color: #0f0b0bc2 !important;
    font-size: 1.8rem;
    font-weight: bold;

    
}
.logo img
{
    width: 70px;
    height: 70px;
}
.login-button {
    color: #0f0b0bc2 !important;
    font-size: 1rem;
  }
.header
{
    direction: rtl;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0 10%;
}
.login
{
    width: 35% !important;
}

.login-button
{
    background-color: transparent !important;
}
.register-button
{
  
}
.header nav
{
    width: 30% !important;
}
.header ul
{
    list-style: none;
    margin: 0;

}
.header li
{
    float: right !important;
    margin-right: 20px !important;
}
.login li
{
    float: left !important;
}
.header a
{
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
}
.header a:hover,
.header a.active,
.header a:active
{
    color: #81adb3;
}
.badge
{
    background-color: red;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
}
.logo-image
{
    margin-top: 15px;
}
.logo-text
{
  font-family:"TT Ricordi Allegria Trial Light" !important;
}

/*سایز موبایل*/
@media only screen and (max-width: 768px)
{

  .logo
  {
    width: 100% !important;
    margin-right: 10px !important;
  }
  .logo line-height
  {
    margin-top: 0px !important;
  }
  .logo p {
    font-size: 18px !important;
  
  }
  .login .p-button{
    padding: 10px;
    font-size: 14px !important;
  }
  .login {
    width: 100% !important;
    margin: 0px !important;
  }
  .header li {
    margin-right: 0px !important;
  }

  .logo img {
    width: 50px !important;
    height: 50px !important;
  }
  .logo-image
{
    margin-top: 0px !important;
}
.p-dialog .p-dialog-content {
  padding: 30px !important;
}

}
