.p-fluid
{
    direction: ltr !important;
}
.field-checkbox
{
    direction: ltr !important;
}
.field
{
    direction: ltr !important;
}

.p-calendar-w-btn-right .p-inputtext
{
    border-radius: 0px !important;
}

.p-calendar-w-btn-right .p-datepicker-trigger
{
    border-radius: 0px !important;
    border-bottom-right-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

.form-demo .card {
    min-width: 450px;
}
.form-demo .card form {
    margin-top: 2rem;
}
.form-demo .card .field {
    margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
    .form-demo .card {
        width: 80%;
    }
}
@media screen and (max-width: 640px) {
    .form-demo .card {
        width: 100%;
        min-width: 0;
    }
}
