.services
{
    background-color: #ffffff;
    height: 350px;
    position: relative;
    display: flex;
    padding: 100px 100px 50px 100px;
    margin-top: 50px;
}

.service
{
    width: 25%;
    position: relative;
    display: inline-block;
}

.service .pi
{

    font-size: 40px;
    color: #5c858b;
    margin-bottom: 0px;
}

/*سایز موبایل*/
@media only screen and (max-width: 768px)
{
    .services
    {
        display: table !important;
        padding: 100px 50px 50px 50px !important;
    }
    .service
    {
        width: 100% !important;
        margin-bottom: 50px !important;
    }
    .title, .subtitle
    {
        margin: 0px !important;
        margin-bottom: 10px !important;
    }
}